.header {
    &__title {
        font-family: 'Playfair Display';
        font-weight: 700;
        font-size: 36px;
        width: 400px;
        position: relative;
        color: black;
    }

    &__smile{
        width: 94px;
        height: 60px;
        position: absolute;
        left: 129px;
    }
    &__bike{
        width: 94px;
        height: 60px;
        position: absolute;
        left: 230px;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding: 10px;
    }

    &__list {
        display: flex;
        align-items: center;
    }

    &__item {
        margin-left: 30px;
    }
    &__item1 {
        margin-left: 30px;
    }

    &__link {
        font-family: 'Inter';
        font-weight: 500;
        font-size: 20px;
        color: #535761;
    }
}