.pizza {
    &__title {
        display: flex;
        justify-content: center;
        margin-top: 22px;
        font-family: "Playfair Display";
        font-weight: 900;
        font-size: 24px;
        color: #808285;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 30px;

    }

    &__description1 {
        color: #808285;
        font-size: 15px;
        font-family: "Inter";
        font-weight: 500;
        width: 295px;
        margin-top: 10px;
        margin-left: 57px;
   
    }
    &__price {
        color: #808285;
        font-size: 15px;
        font-family: "Inter";
        font-weight: 500;
        padding-top: 20px;
        
    }

    &__btn {
          margin-left: 1040px;
        font-family: "Inter";
        font-weight: 600;
        font-size: 16px;
        color: #ffffff;

        border: 2px solid #42fb1d;
        background: #42fb1d;;
        padding: 16px 35px 15px 37px;
        border-radius: 8px;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            background: #ffffff;
            color: #42fb1d;
        }
    }

    &__btn1 {
        font-family: "Inter";
        font-weight: 600;
        font-size: 16px;
        color: #ffffff;

        border: 2px solid #42fb1d;
        background: #42fb1d;
        padding: 16px 35px 15px 37px;
        border-radius: 8px;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            background: #ffffff;
            color: #42fb1d;
        }
    }

    &__box {
        padding-top: 20px;
        width: 400px;
        height: 400px;
        text-align: center;
        border: 1px solid #e2e2e2;
        box-shadow: 0px 5px 4px rgba(221, 221, 221, 0.25);
        border-radius: 5px;
    }

    ///////////
    &__popup__bg {
        position: fixed;
        display: none;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        transition: 0.5s all;
    }

    /*&__popup__bg .active {
        transition: 0.5s all;
    }*/

    &__popup {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) ;
        background: #ffffff;
        width: 300px;
        padding: 25px;
        border-radius: 15px 15px;
        transition: 0.5s all;
    }
    /*&__popup__bg .active{
        transform: translate(-50%, -50%) scale(0);
        transition: 0.5s all;
    }*/

    &__close-popup {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    &__popup__content input {
        height: 45px;
        font-size: 18px;
        border: none;
        outline: none;
        border-bottom: 1px solid #cfd0d3;
        ;
    }

    &__popup__content input:focus {
        border-bottom: 1px solid #1d85fb;
        ;
    }

    &__popup__content input:focus+.label__text {
        color: #1d85fb;
    }

    &__popup__content label {
        width: 100%;
        margin-bottom: 25px;
        display: flex;
        flex-direction: column-reverse;
    }

    &__popup__content .label__text {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 500;
        color: #cfd0d3;
        margin-bottom: 5px;
    }

    &__popup__content {
        padding-top: 25px;
    }

    &__popup__right {
        width: 250px;
        padding-top: 2px;
    }

    &__popup__description {
        font-family: "Inter";
        font-size: 18px;
        font-weight: 500;
        color: #101117;
        margin-bottom: 5px;
        margin-bottom: 20px;
    }
}